<main class="flex flex-1 flex-col items-center">
        <!-- <div class="basis-1/4">
            <h1>User Info</h1>
            <p>Email</p>
            <p>Password</p>
        </div> -->
        <div class="basis-3/4 flex flex-col items-center m-3">
            <h1 class="text-4xl m-5">Favorites</h1>
            <div class="flex">
                <div class="flex flex-row bg-sky-50 border-2 border-sky-700 m-2 p-2 rounded-md">
                    <div class="border-2 bg-white border-sky-700 m-2 p-2 rounded-md">
                        <h1>Cover <br> Placeholder</h1>
                    </div>
                    <div>
                        <h3>Title:</h3>
                        <h3>Author:</h3>
                        <h3>Description:</h3>
                        <h3>Rating:</h3>
                    </div>
                </div>
                <div class="flex flex-row bg-sky-50 border-2 border-sky-700 m-2 p-2 rounded-md">
                    <div class="border-2 bg-white border-sky-700 m-2 p-2 rounded-md">
                        <h1>Cover <br> Placeholder</h1>
                    </div>
                    <div>
                        <h3>Title:</h3>
                        <h3>Author:</h3>
                        <h3>Description:</h3>
                        <h3>Rating:</h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>