<main class="flex flex-1 flex-col items-center justify-center bg-sky-50">
<h1 class="text-7xl m-3">The Reading Nook</h1>
<h2 class="text-4xl m-3">Find a Nook and read your Book!</h2>
<a class="bg-sky-600 hover:bg-sky-800 transition-colors duration-300 text-white py-2 px-5 m-2 rounded-md" href="/search">Search</a>
</main>