<main class="flex flex-1 flex-col items-center justify-center">
<h1 class="text-7xl m-3">The Reading Nook</h1>
<h2 class="text-4xl m-3">Find a Nook and read your Book!</h2>
<button class="bg-sky-700 text-white py-2 px-10 m-2 rounded-md">Search</button>
</main>