<main class="flex flex-1 flex-col">
        <div class="flex flex-1 flex-row">
            <div class="basis-1/4 bg-sky-800 flex flex-col mt-2">
                <div class="p-4">
                    <h1 class="text-white text-lg font-semibold">Categories</h1>
                    <div class="border-2 border-sky-200 my-2"></div>
                </div>
                <nav class="flex-grow">
                    <a href="#" class="block text-gray-300 hover:text-white px-4 py-2" action="/search/Horror">Horror</a>
                    <a href="#" class="block text-gray-300 hover:text-white px-4 py-2" action="/search/Romance">Romance</a>
                    <a href="#" class="block text-gray-300 hover:text-white px-4 py-2" action="/search/Sci-Fi">Sci-Fi</a>
                    <a href="#" class="block text-gray-300 hover:text-white px-4 py-2" action="/search/Non-Ficiton">Non-Fiction</a>
                </nav>
            </div>
            <div class="basis-3/4 flex flex-col">
                <div class="flex justify-between border-2 border-sky-700 m-2 p-2">
                    <div class="flex flex-row">
                    <div class="border-2 border-sky-700 m-2 p-2">
                        <h1>Cover <br> Placeholder</h1>
                    </div>
                    <div>
                        <h3>Title</h3>
                        <h3>Author</h3>
                        <h3>Description</h3>
                        <h3>Rating</h3>
                    </div>
                </div>
                    <div class="flex items-center">
                        <input type="checkbox" id="myCheckbox" class="form-checkbox h-5 w-5 text-blue-600">
                        <label for="myCheckbox" class="ml-2 text-gray-700">Favorite</label>
                    </div>
                </div>
                <div class="flex justify-between border-2 border-sky-700 m-2 p-2">
                    <div class="flex flex-row">
                        <div class="border-2 border-sky-700 m-2 p-2">
                            <h1>Cover <br> Placeholder</h1>
                        </div>
                        <div>
                            <h3>Title</h3>
                            <h3>Author</h3>
                            <h3>Description</h3>
                            <h3>Rating</h3>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <input type="checkbox" id="myCheckbox" class="form-checkbox h-5 w-5 text-blue-600">
                        <label for="myCheckbox" class="ml-2 text-gray-700">Favorite</label>
                    </div>
                </div>
                <div class="flex justify-between border-2 border-sky-700 m-2 p-2">
                    <div class="flex flex-row">
                        <div class="border-2 border-sky-700 m-2 p-2">
                            <h1>Cover <br> Placeholder</h1>
                        </div>
                        <div>
                            <h3>Title</h3>
                            <h3>Author</h3>
                            <h3>Description</h3>
                            <h3>Rating</h3>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <input type="checkbox" id="myCheckbox" class="form-checkbox h-5 w-5 text-blue-600">
                        <label for="myCheckbox" class="ml-2 text-gray-700">Favorite</label>
                    </div>
                </div>
            </div>
        </div>
    </main>